body {
	font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
	background-color: #e5e5e5;
}

/*test*/
.fullscreen-image {
	cursor: url("./plus_cursor.png"), pointer;
	display: inline-block;
	margin: 0px 5px 5px 0px;
}
/*test*/


/*コンテナ*/
div#container {
	max-width: 965px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: relative;
}

/*ヘッダー*/
h1 {
	font-size: 20px;
	margin: 5px 100px 0;
	padding-top: 30px;
}

/*メニュー*/
nav ul {
	display: -webkit-box;
	margin: 30px 50px;
	list-style-type: none;
}

nav ul li {
	line-height: 30px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	width: 100px;
	text-align: center;
}

nav ul li a:hover {
	background-color: #888888;
	color: #ffffff;
}

/*コンテンツ*/
iframe {
	position:absolute;
	top: 30px;
	right: 30px;
	text-align:right;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article {
	margin-left: 10px;
}
img {
	margin: -7px -7px -5px -5px;
	padding: 0;
}
/*フッター*/
footer {
	text-align: center;
	color: #888888;
	padding-bottom: 5px;
	border-top: solid 1px #888888;
}

