body {
	font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
	background-color: #e5e5e5;
}

/*コンテナ*/

/*ヘッダー*/
h1 {
	font-size: 20px;
	margin: 30px 50px 0;
}

/*メニュー*/
nav ul {
margin: 30px 50px;

list-style-type: none;
}

/*コンテンツ*/


/*フッター*/
footer {
	margin: 430px;
	text-align: center;
}

/*画像の配置*/
img {
	position:absolute;
	top: 30px;
	right:30px;
	width:600px;
	text-align:right;
}
