/*ヘッダー*/
h1 {
	font-size: 20px;
	margin: 5px 30px 0;
	padding-top: 30px;
}

/*メニュー*/
/*nav ul {
margin: 30px 10px;
list-style-type: none;
}

nav ul li {
	line-height: 30px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	width: 30px;
	text-align: center;
}*/

/*フッター*/
footer {
	text-align: center;
	color: #888888;
	margin-top: 180px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	border-top: solid 1px #888888;
}

/*画像の配置*/
article {
	max-width: 580px;
	margin-left: 5px;
}

img {
	width: 50%;
}