/*ヘッダー*/
h1 {
	font-size: 20px;
	margin: 5px 30px 0;
	padding-top: 30px;
}

/*メニュー*/
nav ul {
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	list-style-type: none;
}

/*フッター*/
footer {
	text-align: center;
	color: #888888;
	margin-top: 180px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	border-top: solid 1px #888888;
}

/*画像の配置*/
article {
	max-width: 580px;
	margin-left: 20px;
}
