/*ヘッダー*/
h1 {
	font-size: 20px;
	margin: 5px 40px 0;
	padding-top: 30px;
}

/*メニュー*/
nav ul {
margin: 30px 20px;
list-style-type: none;
}

nav ul li {
	line-height: 30px;
}

nav ul li a {
	display: block;
	text-decoration: none;
	width: 30px;
	text-align: center;
}

/*フッター*/
footer {
	text-align: center;
	color: #888888;
	margin-top: 300px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	border-top: solid 1px #888888;
}

/*画像の配置*/
section#main img {
	position:absolute;
	top: 30px;
	right: 30px;
	text-align:right;
	width: 60%;
}

figure img {
	display: block;
	margin-top: 250px;
	margin-bottom: 20px;
	float: left;
}